streamlit==1.41.1
streamlit-aggrid==0.3.5
streamlit-bokeh3-events==0.1.4
streamlit_dynamic_filters==0.1.9
streamlit-nested-layout==0.1.1
streamlit-plotly-events==0.0.6
pygwalker==0.4.9.13
extra-streamlit-components==0.1.71
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
seaborn==0.11.2
scipy==1.13.1
plotly==5.11.0
statsmodels==0.13.5
statannotations==0.5.0
scikit-learn==1.5.1
semver==3.0.2
s3fs==2024.6.1
pillow==10.4.0
tabulate==0.9.0
aind-data-access-api[docdb]==0.13.0
matplotlib_venn==1.1.1
orjson==3.10.14
git+https://github.com/AllenNeuralDynamics/aind-foraging-behavior-bonsai-automatic-training.git@main
git+https://github.com/AllenNeuralDynamics/aind-dynamic-foraging-models.git@develop
git+https://github.com/AllenNeuralDynamics/aind-behavior-gym.git@develop